// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300&display=swap');

// Define fonts for body and headers
$body-font: 'Poppins', sans-serif;
$headers-font: 'Lora', serif;

h1 {
  font-family: $headers-font;
  font-size: 48.83;
  font-weight: 700;
  $black: #000000;
}

h2 {
  font-family: $headers-font;
  font-size: 39.06;
  font-weight: 600;
  $black: #000000;
}

h3 {
  font-family: $headers-font;
  font-size: 31.25;
  font-weight: 500;
  $black: #000000;
}

h4 {
  font-family: $headers-font;
  font-size: 25;
  font-weight: 500;
  $black: #000000;
}

h5 {
  font-family: $headers-font;
  font-size: 20;
  font-weight: 500;
  $black: #000000;
}

h6 {
  font-family: $headers-font;
  font-size: 16;
  font-weight: 500;
  $black: #000000;
}

p {
  font-family: $body-font;
  font-size: 16;
  font-weight: 400;
  line-height: 150%;
}
.p-card {
  font-size: 14;
}


// >>>> set defeult fonts lora>open sans>serif poppins>garamond,sans-serif <<<<

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
