
.account-grid {
  display: grid;
  grid-gap: 50px;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 202px;
  margin: auto;
}

.avatar-bordered {
  border-color: $star-blue;
  border-width: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-account {
  background-color: rgba(98, 196, 183, 0.5);
  border-radius: 30px;
  padding: 24px;
  h3 {
    color: $star-blue;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 3px;
  }
}

.account-li {
  color: $star-blue;
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

.upcoming {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upcoming-scroll {
  height: 500px;
  width: inherit;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  :-webkit-scrollbar {
    display: none;
  }
}

.upcoming-description {
  letter-spacing: 5px;
  font-weight: 200;
  font-size: 15px;
  margin-top: 10px;
}

.org-name {
  font-weight: 600;
  font-size: 20px;
  margin-top: 25px;
}

.date-time {
  letter-spacing: 5px;
  font-weight: 200;
  font-size: 15px;
  text-align: right;
  margin-top: 10px;
}

.favorite {
  height: 378px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  object-fit: fill;
  width: fit-content;
}

.nonprofit-img {
  object-fit: scale-down;
}

.previous {
  height: 387px;
  align-items: center;
  justify-content: center;
}

.previous-scroll {
  overflow: hidden;
}

.previous-description {
  font-weight: 200;
  font-size: 15px;
  margin-top: 10px;
  line-height: 40px;
  letter-spacing: 5px;
}

.previous-scroll {
  height: 300px;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  :-webkit-scrollbar {
    display: none;
  }
}

.card-account.favorite {
  width:100% !important;
}

.card-account.upcoming {
  height:100% !important;
  margin-left: auto
}


#carousel-inner-profile {
  position: relative;
  width: 80%;
  overflow: hidden;
  margin: auto;
  height: 325px;
}

#carousel-item-profile {
  height:100%;

  img {
    height:65%;
    object-fit: contain;
    width:100% !important
  }
}

#carousel-caption-profile {
  h5, p {
    color: $star-blue;
  }
}
