
.account-grid {
  display: grid;
  grid-gap: 50px;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 202px;
  margin: auto;
}

.avatar-bordered {
  border-color: $star-blue;
  border-width: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-account {
  background-color: $main-green;
  border-radius: 30px;
  padding: 40px;
  h3 {
    color: $tea-green;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 3px;
  }
}

.upcoming {
  height: 650px;
  grid-row: 1/3;
  grid-column: 2;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.upcoming-scroll {
  height: 500px;
  width: 420px;
  overflow:auto;
}

.account-li {
  color: white;
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

.org-name {
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
}

.upcoming-description {
  letter-spacing: 5px;
  font-weight: 200;
  font-size: 15px;
  margin-top: 10px;
}

.date-time {
  letter-spacing: 5px;
  font-weight: 200;
  font-size: 15px;
  text-align: right;
  margin-top: 10px;
}

.favourite {
  height: 378px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.previous {
  height: 387px;
  grid-column: 1/ span 2;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.previous-scroll {
  height: 387px;
  overflow:auto;
}

.previous-description {
  font-weight: 200;
  font-size: 20px;
  margin-top: 10px;
  line-height: 50px;
  letter-spacing: 5px;
}
