.new-container{
  margin-left: 200px;
  margin-right: 200px;
}

.button-div {
  position: absolute;
  bottom: 50px;
  left: 600px;
}

.back-div {
  position: absolute;
  bottom: 50px;
}

.back-link {
  color: $medium-gray;
  &:hover {
    color: black;
  }
}
