.btns {
  display: flex;
  justify-content: flex-start;
  background-color: $tea-green;
  position: sticky;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $main-green-lighter;
}

ul > li {
  list-style-type: none;
}

ul {
  display: flex;
  flex-direction: column;
}

.search-form {
  margin-bottom: 10px;
}
