
.map {
  position: sticky;
  top: 0;
  position: relative;
}

.description {
  font-size:17px;
  text-align: justify;
}


.logo > img {
  border-radius: 8px;
  width: 200px;
  height: 200px;
}

.card p {
  margin-top: 10px;
}

.carousel-item img {
  width: 400px;
  height: 300px;
  border-radius: 8px;
}

@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  #carrousel-map {
    display: none;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  #carrousel-map {
    display: none;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  #carrousel-map {
    display: block;
  }
}
