
#map {
  position: sticky;
  top: 0;
  text-decoration: none;
}

.sticky-top {
  position: sticky;
  top: 0;
}


#search_search_by_city {
  height: 35px;
}

.heart-icon {
  position: sticky;
  margin-bottom: 120px;
  margin-left: 360px;
  size: 100px;
  color: black;
  font-size: 40px;
}

.no-search {
  input {
    display: none;
  }
  .mapboxgl-ctrl-geocoder--icon-search {
    display: none;
  }
}

.description {
  font-size:17px;
  text-align: justify;
}


.logo > img {
  border-radius: 8px;
  width: 270px;
  height: 200px;
  object-fit: contain;
}

.card p {
  margin-top: 10px;
  margin-left: 12px;
}

.carousel-item img {
  width: 400px;
  height: 300px;
  border-radius: 8px;
  object-fit: cover;
}

#carousel-control-next {
  right: 52px;
}

#carousel-inner {
  width: 87% !important;
}

#carouselExampleIndicatorscarousel {
  position: relative;
  margin-right: 40px;
  padding: 4px;
  align-items: center;
  right: 52px;
}

@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  #carrousel-map {
    display: none;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  #carrousel-map {
    display: none;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  #carrousel-map {
    display: block;
  }
}

.show-carousel-border-radius{
  margin-top: 237px;
  *, *::before, *::after {
    border-radius: 8px;
  }
}
