
#map {
  position: sticky;
  top: 0;
}

.sticky-top {
  position: sticky;
  top: 0;
}

#search_search_by_city {
  height: 35px;
}

.heart-icon {
  position: sticky;
  margin-bottom: 180px;
  margin-left: 320px;
}

.no-search {
  input {
    display: none;
  }
  .mapboxgl-ctrl-geocoder--icon-search {
    display: none;
  }
}

.description {
  font-size:17px;
  text-align: justify;
}


.logo > img {
  border-radius: 8px;
  width: 270px;
  height: 200px;
}

.card p {
  margin-top: 10px;
  margin-left: 12px;
}

.carousel-item img {
  width: 400px;
  height: 300px;
  border-radius: 8px;
  object-fit: cover;
}

@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  #carrousel-map {
    display: none;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  #carrousel-map {
    display: none;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  #carrousel-map {
    display: block;
  }
}
