
<div class="footer">

<div class="footer-description">
<h2>CARUS</h2>
<p>A little description about the app and what it does.
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 </p>

</div>
  <div class="footer-links">
    <a href=""><i class="fab fa-instagram"></i></a>
    <a href=""><i class="fab fa-linkedin"></i></a>
    <a href=""><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-contact">
  <i class="fa-solid fa-envelope"></i>

  </div>
  </div>
