.btn-big {
  background-color: #62C4B7;
  color: white;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.13em;
  border-radius: 40px;
  padding: 13px 30px 13px 30px;
  margin-right: 5em;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 0px;
  text-decoration: none;
  transition: all 0.3s;
  &:hover{
    box-shadow: none;
    color: white;
    background-color: $main-green;
    border: 0px;
    margin-top: 4px;
    margin-bottom: -4px;
    text-decoration: none;
    background-color: $star-blue;
  }
}

.btn-signin {
  background-color: $tea-green;
  color: $light-gray;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 2mm;
  border-radius: 40px;
  padding: 1px 30px 1px 30px;
  margin-right: 5em;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 0px;
  text-decoration: none;
  transition: all 0.3s;
  width: 10em;
  &:hover{
    box-shadow: none;
    color: $main-green;
    background-color: $tea-green;
    border: 0px;
    margin-top: 4px;
    margin-bottom: -4px;
    text-decoration: none;
  }
}

.btn-category {
  width: 185px;
  background-color: #62C4B7;
  color: white;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  border-radius: 40px;
  padding: 13px 30px 13px 30px;
  margin-right: 5em;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 0px;
  text-decoration: none;
  transition: all 0.3s;
  margin: 10px 0px;
  &:hover{
    box-shadow: none;
    color: $main-green;
    background-color: white;
    border: 0px;
    margin-top: 4px;
    margin-bottom: -4px;
    text-decoration: none;
  }
}

.btn-search {
  width: 100px;
  background-color: $main-green-lighter;
  color: white;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  border-radius: 40px;
  padding: 2px 13px 2px 13px;
  margin-right: 5em;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 0px;
  text-decoration: none;
  transition: all 0.3s;
  &:hover{
    box-shadow: none;
    color: $main-green;
    background-color: white;
    border: 0px;
    margin-top: 4px;
    margin-bottom: -4px;
    text-decoration: none;

  }
}
