@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300&display=swap');

.navbar-carus {
  justify-content: space-between;
  background: #62C4B7;
  height :38px;
}
.navbar-brand img {
  width: 40px;
  height:10px;
  border-radius: 50%;
}

.navbar-carus .navbar-collapse {
  flex-grow: 0;
  height:30px ;
}

.navbar-brand {
  width: 46px;
  height: 10px;
  border-radius: 50%;
}


  .nav-item.signin {
    background-color:#62C4B7;
    border-radius: 40px;
    width: 70px;
    text-decoration: none;
  }
  .navbar-collapse{
    width: 10px;
    height: fit-content;
  }
